<div class="card mb-3" >
  <div class="text-center" >
    <h2 style="color: black; padding-top:10px; ">
      {{blogpost.blogpost_title}}
    </h2>
    <p>{{blogpost.blogpost_contents}}</p>
    <p>{{blogpost.blogpost_date}} </p>
  </div>
</div>