<form class="signup-form">
                <div>
                    <div class="mb-3 form-group required">
                        <label for="username-signup" class="form-label control-label">Username</label>
                        <input type="text" class="form-control" id="username-signup" placeholder="Username" required>
                    </div>
                    <div class="mb-3 form-group required">
                        <label for="password-signup" class="form-label control-label">Password</label>
                        <input type="password" class="form-control" id="password-signup" placeholder="Password"
                               required>
                    </div>
                <div>
                    <button type="submit" class="btn button-72 text-white" id="registerBtn">Register</button>
                </div>
            </form>

        
<form class="login-form">
                <div>
                    <div class="mb-3 form-group required">
                        <label for="username-login" class="form-label control-label">Username</label>
                        <input type="text" class="form-control" id="username-login" placeholder="Username" required>
                    </div>
                    <div class="mb-3 form-group required">
                        <label for="password-login" class="form-label control-label">Password</label>
                        <input type="password" class="form-control" id="password-login" placeholder="Password"
                               required>
                    </div>
                <div>
                    <button type="submit" class="btn button-72 text-white" id="registerBtn">Register</button>
                </div>
            </form>

        